.profileCardImage {
  animation-name: move;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-play-state: paused;
}

@keyframes move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
