/* Override Solana wallet adapter modal styles */
.wallet-adapter-modal-wrapper {
  @apply bg-main/10 backdrop-blur-lg font-sans;
}

.wallet-adapter-button-trigger {
  @apply text-sm text-main shadow-xl hover:shadow-2xl transition-all duration-150 font-[inherit] rounded-full bg-primary focus-visible:bg-primary-light;
}

/* We override using class selector because the default class has higher specificity */
.wallet-adapter-button-trigger:not(:disabled):hover {
  @apply bg-primary-light;
}

.wallet-adapter-button-start-icon {
  opacity: 0;
}

.wallet-adapter-dropdown-list-item:not([disabled]):hover {
  background-color: #ffca8f;
  color: #0c0c1a;
}

.wallet-adapter-dropdown-list {
  background-color: #212131;
}
