@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Jersey 10";
  src: url("../../fonts/Jersey10-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Jersey 10", sans-serif;
  color: white;
  background: linear-gradient(
    to right,
    #5bdee6,
    #4dc9de,
    #44b3d5,
    #309bcb,
    #1f77be,
    #0050af
  );
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}

/*Hide arrows of number input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.border-gradient {
  border: double 10px transparent;
  border-radius: 90px;
  background-image: linear-gradient(rgb(34, 43, 55), rgb(34, 43, 55)),
    linear-gradient(to right, #fcedbd, #f4b6ec);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: background-image 0.3s ease;
}

.border-gradient-card-top {
  border: double 4px transparent;
  border-bottom: none;
  background-image: linear-gradient(rgb(34, 43, 55), rgb(34, 43, 55)),
    linear-gradient(to right, #fcedbd, #f4b6ec);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: background-image 0.3s ease;
}

.border-gradient-card-bottom {
  border: double 4px transparent;
  background-image: linear-gradient(rgb(34, 43, 55), rgb(34, 43, 55)),
    linear-gradient(to right, #fcedbd, #f4b6ec);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: background-image 0.3s ease;
}

.border-gradient:hover {
  background-image: linear-gradient(rgb(34, 43, 55), rgb(34, 43, 55)),
    linear-gradient(to left, #fcedbd, #f4b6ec);
}

.gradient {
  background: linear-gradient(to right, #fcedbd, #f4b6ec);
}
.gradient:hover {
  background: linear-gradient(to left, #fcedbd, #f4b6ec);
}

.masked-button {
  background: linear-gradient(to right, #fcedbd, #f4b6ec);
}

.masked-button-text {
  background: linear-gradient(to right, #fcedbd, #f4b6ec);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-button-arrow {
  color: #f3aef3;
}

.animated-link {
  position: relative;
  text-decoration: none;
}

.animated-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 50%;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s;
}

.animated-link:hover::after {
  width: 100%;
}

.eight-bit-border-20 {
  box-shadow:
    20px 0 rgb(34 43 55),
    -20px 0 rgb(34 43 55),
    0 -20px rgb(34 43 55),
    0 20px rgb(34 43 55);
  margin: 20px auto;
}

/* Large Light Pixel Art Border */
.pixel-art-border-lg-light {
  box-shadow:
    20px 0 white,
    -20px 0 white,
    0 -20px white,
    0 20px white;
  margin: 20px auto;
}

/* Large Dark Pixel Art Border */
.pixel-art-border-lg-dark {
  box-shadow:
    20px 0 #222b37,
    -20px 0 #222b37,
    0 -20px #222b37,
    0 20px #222b37;
  margin: 20px auto;
}

/* Small Light Pixel Art Border */
.pixel-art-border-sm-light {
  box-shadow:
    8px 0 white,
    -8px 0 white,
    0 -8px white,
    0 8px white;
  margin: 8px auto;
}

/* Small Dark Pixel Art Border */
.pixel-art-border-sm-dark {
  box-shadow:
    8px 0 #222b37,
    -8px 0 #222b37,
    0 -8px #222b37,
    0 8px #222b37;
  margin: 8px auto;
}
