@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: #202b38;
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}

.center-all {
  @apply flex justify-center items-center text-center;
}

/*Hide arrows of number input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.no-scroll {
  overflow: hidden;
}
.border-gradient {
  border: double 10px transparent;
  border-radius: 90px;
  background-image: linear-gradient(rgb(34, 43, 55), rgb(34, 43, 55)),
    linear-gradient(to right, #fcedbd, #f4b6ec);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: background-image 0.3s ease;
}

.border-gradient-card-top {
  border: double 4px transparent;
  border-bottom: none;
  background-image: linear-gradient(rgb(34, 43, 55), rgb(34, 43, 55)),
    linear-gradient(to right, #fcedbd, #f4b6ec);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: background-image 0.3s ease;
}

.border-gradient-card-bottom {
  border: double 4px transparent;
  background-image: linear-gradient(rgb(34, 43, 55), rgb(34, 43, 55)),
    linear-gradient(to right, #fcedbd, #f4b6ec);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: background-image 0.3s ease;
}

.border-gradient:hover {
  background-image: linear-gradient(rgb(34, 43, 55), rgb(34, 43, 55)),
    linear-gradient(to left, #fcedbd, #f4b6ec);
}

.gradient {
  background: linear-gradient(to right, #fcedbd, #f4b6ec);
}
.gradient:hover {
  background: linear-gradient(to left, #fcedbd, #f4b6ec);
}

.masked-button {
  background: linear-gradient(to right, #fcedbd, #f4b6ec);
}

.masked-button-text {
  background: linear-gradient(to right, #fcedbd, #f4b6ec);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-button-arrow {
  color: #f3aef3;
}

.animated-link {
  position: relative;
  text-decoration: none;
}

.animated-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 50%;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s;
}

.animated-link:hover::after {
  width: 100%;
}

.eight-bit-border-20 {
  box-shadow:
    20px 0 rgb(34 43 55),
    -20px 0 rgb(34 43 55),
    0 -20px rgb(34 43 55),
    0 20px rgb(34 43 55);
  margin: 20px auto;
}

/* Large Light Pixel Art Border */
.pixel-art-border-lg-light {
  box-shadow:
    20px 0 white,
    -20px 0 white,
    0 -20px white,
    0 20px white;
  margin: 20px auto;
}

/* Large Dark Pixel Art Border */
.pixel-art-border-lg-dark {
  box-shadow:
    20px 0 #003a55,
    -20px 0 #003a55,
    0 -20px #003a55,
    0 20px #003a55;
  margin: 20px auto;
}

/* Small Light Pixel Art Border */
.pixel-art-border-sm-light {
  box-shadow:
    8px 0 white,
    -8px 0 white,
    0 -8px white,
    0 8px white;
  margin: 8px auto;
}

/* Small Dark Pixel Art Border */
.pixel-art-border-sm-dark {
  box-shadow:
    8px 0 #003a55,
    -8px 0 #003a55,
    0 -8px #003a55,
    0 8px #003a55;
  margin: 8px auto;
}
/* Extra Small Dark Pixel Art Border */
.pixel-art-border-xs-dark {
  box-shadow:
    3px 0 #003a55,
    -3px 0 #003a55,
    0 -3px #003a55,
    0 3px #003a55;
  margin: 3px auto;
}
.pixel-art-border-xs-dark-light {
  box-shadow:
    5px 0 #ffffff,
    -5px 0 #003a55,
    0 -5px #003a55,
    0 5px #ffffff;
  margin: 5px auto;
}

.text-stroke-3 {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

/* Scroll style  */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #8d68e6;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

/* Pixel Art Loading... */

@keyframes pixel-animation {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
.dropDown-hidden {
  display: none;
}
/* Hide scrollbar arrows and customize the scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border: 4px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.drop-shadow-bg {
  text-shadow:
    1px 0 #fff,
    -1px 0 #fff,
    0 1px #fff,
    0 -1px #fff,
    1px 1px #fff,
    -1px -1px #fff,
    1px -1px #fff,
    -1px 1px #fff;
}
